@import url("http://fonts.googleapis.com/css?family=Just+Another+Hand");
* {
  border: 0;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-size: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: -webkit-radial-gradient(center, #323232, #000);
  background-image: -khtml-radial-gradient(center, #323232, #000);
  background-image: -moz-radial-gradient(center, #323232, #000);
  background-image: -ms-radial-gradient(center, #323232, #000);
  background-image: -o-radial-gradient(center, #323232, #000);
  background-image: radial-gradient(center, #323232, #000);
  -webkit-perspective: 2000px;
  -khtml-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: center;
  -khtml-perspective-origin: center;
  -moz-perspective-origin: center;
  -ms-perspective-origin: center;
  -o-perspective-origin: center;
  perspective-origin: center;
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.wave {
  border: 5px solid #000;
  height: 10000px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10000px;
  background-image: -webkit-radial-gradient(center, red, #000, red, #000 98%);
  background-image: -khtml-radial-gradient(center, red, #000, red, #000 98%);
  background-image: -moz-radial-gradient(center, red, #000, red, #000 98%);
  background-image: -ms-radial-gradient(center, red, #000, red, #000 98%);
  background-image: -o-radial-gradient(center, red, #000, red, #000 98%);
  background-image: radial-gradient(center, red, #000, red, #000 98%);
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px #323232;
  -khtml-box-shadow: 0 0 5px 2px #323232;
  -moz-box-shadow: 0 0 5px 2px #323232;
  -ms-box-shadow: 0 0 5px 2px #323232;
  -o-box-shadow: 0 0 5px 2px #323232;
  box-shadow: 0 0 5px 2px #323232;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: transform 2s ease-in-out;
  -khtml-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -ms-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .wave.effect {
    opacity: 1;
    -webkit-animation: wave 1s 1 ease;
    -khtml-animation: wave 1s 1 ease;
    -moz-animation: wave 1s 1 ease;
    -ms-animation: wave 1s 1 ease;
    -o-animation: wave 1s 1 ease;
    animation: wave 1s 1 ease;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.cellphone {
  background: #323232;
  border: 15px solid #111;
  bottom: 0;
  height: 480px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  -khtml-transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  -moz-transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  -ms-transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  -o-transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  transform: translatez(0px) translatex(0px) scaleX(1) rotatey(0);
  -webkit-transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  -khtml-transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  -moz-transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  -ms-transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  -o-transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  transition: transform 1s 1.5s ease-in-out, box-shadow 1s 1.8s ease, border-color 1s 0.35s linear, border-bottom-width 0.5s 0.4s ease;
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .cellphone:after, .cellphone:before {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    bottom: -40px;
    margin: auto;
    width: 30px;
    height: 30px;
    opacity: 0;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(1.1, 2);
    -khtml-transform: scale(1.1, 2);
    -moz-transform: scale(1.1, 2);
    -ms-transform: scale(1.1, 2);
    -o-transform: scale(1.1, 2);
    transform: scale(1.1, 2);
    -webkit-transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease;
    -khtml-transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease;
    -moz-transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease;
    -ms-transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease;
    -o-transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease;
    transition: opacity 0.8s ease-out, transform 1.5s 0.1s ease; }
  .cellphone:after {
    background: #000;
    z-index: 2;
    transition-delay: .5s;
    -webkit-transform: scale(1, 1);
    -khtml-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  .cellphone:before {
    background: #000;
    z-index: 3;
    transition-delay: .8s;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .cellphone > div {
    left: 0;
    height: 480px;
    position: absolute;
    top: 0;
    width: 340px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -khtml-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: rotatex(0) translatez(0px);
    -khtml-transform: rotatex(0) translatez(0px);
    -moz-transform: rotatex(0) translatez(0px);
    -ms-transform: rotatex(0) translatez(0px);
    -o-transform: rotatex(0) translatez(0px);
    transform: rotatex(0) translatez(0px); }
  .cellphone .front {
    height: 0;
    overflow: hidden;
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    .cellphone .front img {
      height: auto;
      max-width: 100%;
      margin-top: 6rem; }
    .cellphone .front iframe {
      height: 100%;
      width: 100%; }
  .cellphone.active {
    background: transparent;
    overflow: visible;
    border-bottom-width: 50px;
    border-color: #fbc02d;
    -webkit-box-shadow: 0 0 10px #ddd;
    -khtml-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -ms-box-shadow: 0 0 10px #ddd;
    -o-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    -webkit-transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg);
    -khtml-transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg);
    -moz-transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg);
    -ms-transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg);
    -o-transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg);
    transform: translatez(-380px) translatex(30px) scaleX(1) rotatey(4deg) rotatex(0deg) rotatez(0deg); }
    .cellphone.active:after, .cellphone.active:before {
      opacity: 1; }
    .cellphone.active:after {
      background: #fbc02d;
      border: 2px solid #000;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: scale(1, 1) rotate(0deg);
      -khtml-transform: scale(1, 1) rotate(0deg);
      -moz-transform: scale(1, 1) rotate(0deg);
      -ms-transform: scale(1, 1) rotate(0deg);
      -o-transform: scale(1, 1) rotate(0deg);
      transform: scale(1, 1) rotate(0deg); }
    .cellphone.active:before {
      bottom: -33px;
      width: 16px;
      height: 16px; }
    .cellphone.active:hover:after {
      -webkit-transform: scale(1.1, 2) translatex(360deg);
      -khtml-transform: scale(1.1, 2) translatex(360deg);
      -moz-transform: scale(1.1, 2) translatex(360deg);
      -ms-transform: scale(1.1, 2) translatex(360deg);
      -o-transform: scale(1.1, 2) translatex(360deg);
      transform: scale(1.1, 2) translatex(360deg); }
    .cellphone.active > div {
      opacity: 1; }
    .cellphone.active .front {
      height: 480px;
      -webkit-transform: scale(1) translatez(0px);
      -khtml-transform: scale(1) translatez(0px);
      -moz-transform: scale(1) translatez(0px);
      -ms-transform: scale(1) translatez(0px);
      -o-transform: scale(1) translatez(0px);
      transform: scale(1) translatez(0px);
      -webkit-transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in;
      -khtml-transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in;
      -moz-transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in;
      -ms-transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in;
      -o-transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in;
      transition: transform 0.35s 2s ease-out, opacity 0.5s 1s ease-out, height 0.3s 1.9s ease-in; }
    .cellphone.active .back {
      background-color: #212121;
      -webkit-transform: translatez(-240px);
      -khtml-transform: translatez(-240px);
      -moz-transform: translatez(-240px);
      -ms-transform: translatez(-240px);
      -o-transform: translatez(-240px);
      transform: translatez(-240px);
      -webkit-transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out;
      -khtml-transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out;
      -moz-transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out;
      -ms-transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out;
      -o-transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out;
      transition: transform 0.5s 1s ease-out, opacity 0.5s 1s ease-out, box-shadow 0.5s 1.3s ease-out; }
    .cellphone.active .bottom {
      background-color: #323232;
      -webkit-transform: rotatex(-90deg) translatez(240px) translatey(170px);
      -khtml-transform: rotatex(-90deg) translatez(240px) translatey(170px);
      -moz-transform: rotatex(-90deg) translatez(240px) translatey(170px);
      -ms-transform: rotatex(-90deg) translatez(240px) translatey(170px);
      -o-transform: rotatex(-90deg) translatez(240px) translatey(170px);
      transform: rotatex(-90deg) translatez(240px) translatey(170px);
      -webkit-transition: all 0.5s 0.2s ease-out;
      -khtml-transition: all 0.5s 0.2s ease-out;
      -moz-transition: all 0.5s 0.2s ease-out;
      -ms-transition: all 0.5s 0.2s ease-out;
      -o-transition: all 0.5s 0.2s ease-out;
      transition: all 0.5s 0.2s ease-out; }
    .cellphone.active .top {
      background-color: #323232;
      -webkit-transform: rotatex(90deg) translatez(240px) translatey(-170px);
      -khtml-transform: rotatex(90deg) translatez(240px) translatey(-170px);
      -moz-transform: rotatex(90deg) translatez(240px) translatey(-170px);
      -ms-transform: rotatex(90deg) translatez(240px) translatey(-170px);
      -o-transform: rotatex(90deg) translatez(240px) translatey(-170px);
      transform: rotatex(90deg) translatez(240px) translatey(-170px);
      -webkit-transition: all 0.5s 0.2s ease-out;
      -khtml-transition: all 0.5s 0.2s ease-out;
      -moz-transition: all 0.5s 0.2s ease-out;
      -ms-transition: all 0.5s 0.2s ease-out;
      -o-transition: all 0.5s 0.2s ease-out;
      transition: all 0.5s 0.2s ease-out; }
    .cellphone.active .right {
      background-color: #424242;
      -webkit-transform: rotatey(90deg) translatez(170px) translatex(170px);
      -khtml-transform: rotatey(90deg) translatez(170px) translatex(170px);
      -moz-transform: rotatey(90deg) translatez(170px) translatex(170px);
      -ms-transform: rotatey(90deg) translatez(170px) translatex(170px);
      -o-transform: rotatey(90deg) translatez(170px) translatex(170px);
      transform: rotatey(90deg) translatez(170px) translatex(170px);
      -webkit-transition: all 0.5s 0.5s ease-out;
      -khtml-transition: all 0.5s 0.5s ease-out;
      -moz-transition: all 0.5s 0.5s ease-out;
      -ms-transition: all 0.5s 0.5s ease-out;
      -o-transition: all 0.5s 0.5s ease-out;
      transition: all 0.5s 0.5s ease-out; }
    .cellphone.active .left {
      background-color: #424242;
      -webkit-transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      -khtml-transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      -moz-transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      -ms-transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      -o-transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      transform: rotatey(-90deg) translatez(170px) translatex(-170px);
      -webkit-transition: all 0.5s 0.5s ease-out;
      -khtml-transition: all 0.5s 0.5s ease-out;
      -moz-transition: all 0.5s 0.5s ease-out;
      -ms-transition: all 0.5s 0.5s ease-out;
      -o-transition: all 0.5s 0.5s ease-out;
      transition: all 0.5s 0.5s ease-out; }

.on_off {
  position: absolute;
  width: 80px;
  height: 30px;
  border: thin solid #ddd;
  overflow: hidden;
  color: #ddd;
  line-height: 1.5;
  font-family: 'Just Another Hand', cursive;
  z-index: 8;
  margin: auto;
  left: 0;
  right: 0;
  top: 2%;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transform-origin: center bottom;
  -khtml-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .on_off.hover {
    -webkit-animation: skew 0.35s 2 linear;
    -khtml-animation: skew 0.35s 2 linear;
    -moz-animation: skew 0.35s 2 linear;
    -ms-animation: skew 0.35s 2 linear;
    -o-animation: skew 0.35s 2 linear;
    animation: skew 0.35s 2 linear; }
  .on_off.active {
    color: #ef5350;
    border-color: #ef5350; }
    .on_off.active:hover:before, .on_off.active:focus:before {
      background: white; }
  .on_off.inactive {
    color: #66bb6a;
    border-color: #66bb6a; }
    .on_off.inactive:hover:before, .on_off.inactive:focus:before {
      background: white; }
  .on_off:hover, .on_off:focus {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running; }
    .on_off:hover:before, .on_off:focus:before {
      height: 100%; }
  .on_off:before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    display: block;
    background: transparent;
    position: absolute;
    -webkit-transition: height 0.5s 0.1s ease;
    -khtml-transition: height 0.5s 0.1s ease;
    -moz-transition: height 0.5s 0.1s ease;
    -ms-transition: height 0.5s 0.1s ease;
    -o-transition: height 0.5s 0.1s ease;
    transition: height 0.5s 0.1s ease; }
  .on_off:before {
    -webkit-transform: rotatex(180deg);
    -khtml-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -ms-transform: rotatex(180deg);
    -o-transform: rotatex(180deg);
    transform: rotatex(180deg); }

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@-moz-keyframes wave {
  0% {
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes wave {
  0% {
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes skew {
  12%,76% {
    -webkit-transform: skewx(-5deg);
    -khtml-transform: skewx(-5deg);
    -moz-transform: skewx(-5deg);
    -ms-transform: skewx(-5deg);
    -o-transform: skewx(-5deg);
    transform: skewx(-5deg); }
  36%,85% {
    -webkit-transform: skewx(5deg);
    -khtml-transform: skewx(5deg);
    -moz-transform: skewx(5deg);
    -ms-transform: skewx(5deg);
    -o-transform: skewx(5deg);
    transform: skewx(5deg); } }
@-moz-keyframes skew {
  12%,76% {
    -webkit-transform: skewx(-5deg);
    -khtml-transform: skewx(-5deg);
    -moz-transform: skewx(-5deg);
    -ms-transform: skewx(-5deg);
    -o-transform: skewx(-5deg);
    transform: skewx(-5deg); }
  36%,85% {
    -webkit-transform: skewx(5deg);
    -khtml-transform: skewx(5deg);
    -moz-transform: skewx(5deg);
    -ms-transform: skewx(5deg);
    -o-transform: skewx(5deg);
    transform: skewx(5deg); } }
@keyframes skew {
  12%,76% {
    -webkit-transform: skewx(-5deg);
    -khtml-transform: skewx(-5deg);
    -moz-transform: skewx(-5deg);
    -ms-transform: skewx(-5deg);
    -o-transform: skewx(-5deg);
    transform: skewx(-5deg); }
  36%,85% {
    -webkit-transform: skewx(5deg);
    -khtml-transform: skewx(5deg);
    -moz-transform: skewx(5deg);
    -ms-transform: skewx(5deg);
    -o-transform: skewx(5deg);
    transform: skewx(5deg); } }

/*# sourceMappingURL=style.css.map */
