@import url('http://fonts.googleapis.com/css?family=Just+Another+Hand');

@import 'functions';
@import 'variables';

*{ @include reset(); }

html{
    height: 100%;
}

body{
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include radial(radial, (center, #323232, #000) );
    @include perspective(2000px);
    @include perspective-origin(center);
    @include transition(all .5s ease);
}

.wave{
    border: 5px solid #000;
    height: 100px * 100;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100px * 100;
    @include radial(radial, (center,#323232,#000,#323232,#000 98%) );
    @include border-radius(50%);
    @include box-shadow(0 0 5px 2px #323232);
    @include box-sizing(border-box);
    @include transition(transform .2s ease-in-out);
    @include transform(scale(0));
    
    &.effect{
        opacity: 1;
        @include animation(wave 1s 1 ease);
        @include transform(scale(.3));
    }
}

.cellphone{
    background: #323232;
    border: 15px solid #bdbdbd;
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    @include border-radius(5px);
    @include transform( translatez(0px) translatex(0px) scaleX(1.8) rotatey(0) );
    @include transition((transform 1s 1.5s ease-in-out,box-shadow 1s 1.8s ease,border-color 1s .35s linear,border-right-width .5s .4s ease)) ;
    @include transform-style(preserve-3d);
    
    &:after,
    &:before{
        position: absolute;
        content: '';
        background: red;
        right: -8%;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        opacity: 0;
        @include border-radius(50%);
        @include transform( scale(1.1,2));
        @include transition(( opacity .8s ease-out,transform 3.5s .5s ease));
    }
    &:after{
        background: #000;
        z-index: 2;
        transition-delay: .5s;
        @include transform(scale(1.1,2));
    }
    &:before{
        background: #000;
        z-index: 3;
        transition-delay: .8s;
        @include transform(scale(.51,1));
    }
    
    > div{
        left: 0;
        height: 500px;
        position: absolute;
        top: 0;
        width: 500px;
        opacity: 0;
        @include transition(all .5s ease-out);
        @include transform(rotatex(0) translatez(0px));
    }
    
    .front{
        height: 0;
        overflow: hidden;
        @include transform(scale(0));
        
        img{
            height: auto;
            max-width: 100%;
            margin-top: 6rem;
        }
    }
    
    &.active{
        background: transparent;
        overflow: visible;
        border-right-width: 50px;
        border-color: #fff;
        @include box-shadow(0 0 10px #ddd);
        @include transform( translatez(-380px) translatex(30px) scaleX(1.8) rotatey(4deg) rotatex(0deg) rotatez(0deg));
        
        &:after,
        &:before{
            opacity: 1;
        }
        
        &:after{
            background: #fff;
            border: 2px solid #000;
            @include box-sizing(border-box);
            @include transform(scale(1.1, 2) rotate(0deg));
        }
        
        &:hover{
            &:after{
                @include transform(scale(1.1, 2) translatex(360deg));
            }
        }
        
        > div{
            opacity: 1;
        }
        .front{
            height: 500px;
            @include box-shadow(0 0 30px 5px #999 inset);
            @include transform(scale(1) translatez(0px));
            @include transition((transform .35s 2s ease-out,opacity .5s 1s ease-out,height .3s 1.9s ease-in));
        }
        .back{
            background-color: #212121;
            @include transform(translatez(-280px));
            @include transition((transform .5s 1s ease-out,opacity .5s 1s ease-out,box-shadow .5s 1.3s ease-out));
        }
        .bottom{
            background-color: #323232;
            @include transform(rotatex(-90deg) translatez(250px) translatey(250px));
            @include transition(all .5s .2s ease-out);
        }
        .top{
            background-color: #323232;
            @include transform(rotatex(90deg) translatez(250px) translatey(-250px));
            @include transition(all .5s .2s ease-out);
        }
        .right{
            background-color: #424242;
            @include transform(rotatey(90deg) translatez(250px) translatex(250px));
            @include transition(all .5s .5s ease-out);
        }
        .left{
            background-color: #424242;
            @include transform(rotatey(-90deg) translatez(250px) translatex(-250px));
            @include transition(all .5s .5s ease-out);
        }
    }
}

.on_off{
    position: absolute;
    width: 80px;
    height: 30px;
    border: thin solid #ddd;
    overflow: hidden;
    color: #ddd;
    line-height: 1.5;
    font-family: 'Just Another Hand', cursive;
    z-index: 8;
    margin: auto;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    @include transform-origin(center bottom);
    @include transition(all .4s ease-in-out);
    
    &.hover{
        @include animation(skew .35s 2 linear);
    }
    
    &.active{
        color: #ef5350;
        border-color: #ef5350;
        
        &:hover,
        &:focus{
            color: #66bb6a;
            border-color: #66bb6a;
            
            &:before{
                background: transparent;
            }
        }
    }

    &.inactive{
        color: #66bb6a;
        border-color: #66bb6a;
        
        &:hover,
        &:focus{
            color: #ef5350;
            border-color: #ef5350;
            
            &:before{
                background: transparent;
            }
        }
    }
    
    &:hover,
    &:focus{
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
    }
    
    &:before{
        content: '';
        z-index: -1;
        width: 100%;
        height: 0%;
        bottom: 0;
        top: 0;
        left: 0;
        display: block;
        background: transparent;
        position: absolute;
        @include transition(height .5s .1s ease);
    }
    
    &:before{
        @include transform(rotatex(180deg));
    }
}

@import 'animations';